/* switch css */
.switch input {
  display: none;
}

.switch {
  display: inline-block;
  width: 50px;
  height: 25px;
  transform: translateY(30%);
  position: relative;
}

/* Style Wired */
.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #777;
  border-radius: 30px;
  transform: translateX(-30px);
  transition: .4s;
}

input:checked+.slider:before {
  transform: translateX(30px);
  background: limeGreen;
}

input:checked+.slider {
  box-shadow: 0 0 0 2px limeGreen, 0 0 2px limeGreen;
}

/* switch css end */

.nav-link {
  font-size: 22px;
  font-weight: bold;
}

.inActive {
  color: #938d8d !important
}

.card-body {
  height: 200px;
  overflow: auto;
}
i{
  cursor: pointer;
}
